@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
.navbar-bg {
    background-color: black;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Tailwind p-4 */
    padding-left: 2.5rem; /* Tailwind md:px-10 */
    padding-right: 2.5rem;
    /* Add media queries for larger screens */
  }
  
  .navbar-link {
    color: white;
    cursor: pointer;
    font-weight: 600; /* Tailwind font-semibold */
    font-size: 1.125rem; /* Tailwind text-lg */
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-link:hover {
    color: #D1D5DB; /* Tailwind text-gray-300 */
  }
  
  @media (min-width: 768px) { /* Tailwind md breakpoint */
    .navbar-link {
      font-size: 1.25rem; /* Tailwind text-xl */
    }
  }
  
  @media (min-width: 1024px) { /* Tailwind lg breakpoint */
    .navbar {
      padding-left: 5rem; /* Tailwind lg:px-20 */
      padding-right: 5rem;
    }
  }
  